*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
pigi/lift_proto.db.*
default.props
lift_proto.db.h2.db
lift_proto.db.trace.db

# Scala-IDE specific
.scala_dependencies

#do not need to keep track of downloaded svn files
Client/svnfiles/

#do not keep track of the sqlite database
Client/client.db