*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
pigi/lift_proto.db.*

# Scala-IDE specific
.scala_dependencies

#do not need to keep track of downloaded svn files
Client/svnfiles/